section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero-image {
  min-width: 400px;
  max-width: 600px;
  align-self: center;
}
.hero-title {
  margin-bottom: 16px;
}
.hero-subtitle {
  margin-top: 0;
}
